server:
  port: 8081

---

spring:
  datasource:
    url: jdbc:h2:mem:movie-descriptions-prod;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:

  flyway:
    enabled: true
