name: Build against JDKs
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '25' ]
        architecture: [ 'x64' ]
    name: Build with JDK ${{ matrix.java }} on ${{ matrix.architecture }}
    steps:
      - uses: actions/checkout@v6.0.1
      - name: Setup JDK
        uses: actions/setup-java@v5.1.0
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
          architecture: ${{ matrix.architecture }}
      - name: Build with Maven
        run: mvn verify

